<div class="main-image"><%= image_tag("main_image.jpg") %></div>
<div class="content">
  <div class="left-side">
    <% 4.times.each do |i| -%>
    <div class="block">
      <div class="block-head">
        双盘共修召集
      </div>
      <div class="block-body">
        <div class="image-area">
          <%= image_tag("zen1.jpg") %>
        </div>
        <div class="text-area">
          双盘是一种简单直接但效果强劲的调节身体内脏，达到补充肾气，矫正脊椎，滋养骨髓的修炼方式
        </div>
      </div>
    </div>
    <%= content_tag(:div, nil, :class => "clear") if i == 1 %>
    <% end -%>
  </div>
  <div class="right-side">
    <%= render '/refinery/content_page' %>
    <div class="qq"></div>
    <div class="two-dimensional-code"></div>
    <div class="subscribe"></div>
    <div class="tags"></div>
  </div>
</div>
