<div class="header clearfix">
  <div id="logo">
    <%= link_to image_tag("logo.png"), refinery.root_path, :title => Refinery::Core.site_name %>
    <!--<span>Free HTML5 Template</span>-->
  </div>

  <div class="site-info-menu">
    <div class="top-info clearfix">
      <span class="tel">QQ群: 31864726</span>
      <span class="email">歪歪语音: 46994281（每周六晚八点）</span>
    </div>

    <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
  </div>

</div>
