<div class="header clearfix">
  <div id="logo">
    <%= link_to image_tag("logo.png"), root_path %>
    <!--<span>Free HTML5 Template</span>-->
  </div>

  <div class="site-info-menu">
    <div class="top-info clearfix">
      <span class="qq">QQ群: 31864726</span>
      <span class="yy">YY: 46994281(每周六晚八点)</span>
    </div>

    <nav id="menu">
      <%= menus %>
    </nav>
  </div>

</div>
